<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>

        {{ content }}

        {% unless page.no_edit_link %}
            <article class="edit-on-github">
                {% if page.edit_link %}
                    Edit page on GitHub:
                    {% for source in page.edit_link %}
                        <a href="{{ site.github.repository_url }}/edit/master/{{ source[1] }}">{{ source[0] }}</a>
                    {% endfor %}
                {% else %}
                    <a href="{{ site.github.repository_url }}/edit/master/{{ page.path }}">Edit page on GitHub</a>
                {% endif %}
            </article>
        {% endunless %}
    </body>

</html>
